<div class="content">

    <mat-card class="mat-card-product">
        <h2>PRODUCTOS</h2>
        <table mat-table [dataSource]="lstProducts" class="mat-elevation-z8" *ngIf="tableshow">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Precío </th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency }} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="iva8">
                <th mat-header-cell *matHeaderCellDef> IVA 8 </th>
                <td mat-cell *matCellDef="let element"> {{getIVA8(element) | currency}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="iva16">
                <th mat-header-cell *matHeaderCellDef> IVA 16 </th>
                <td mat-cell *matCellDef="let element"> {{getIVA16(element) | currency}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="ieps">
                <th mat-header-cell *matHeaderCellDef> IESP </th>
                <td mat-cell *matCellDef="let element"> {{getIEPS(element) | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{ getTotal(element) | currency }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
    <br>
    <br>
    <br>
    <div class="form-group">
        <mat-card class="mat-card-upload">
            <h2>Cargar productos</h2>
            <label for="file">Seleccionar archivo</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
            <br>
            <button mat-raised-button color="primary" (click)=" upLoadProduct()">Guardar</button>
        </mat-card>
        <br>
        <mat-card class="mat-card-export">
            <h2>Exportar Productos</h2>
            <button mat-raised-button color="primary" (click)=" export()">Exportar</button>
        </mat-card>
    </div>

</div>